.main-container{
  max-width: 100vw;
  max-height: 100vh ;
}

.custom-popover {
  --bs-popover-bg: #49556b;            
  --bs-popover-color: white;           
  --bs-popover-border-color: #49556b;  
  padding:  0 50px;
}

.share{
  letter-spacing: 0.2rem;
}


@media (min-width:320px) and (max-width:767px)
{
  .bg-pic{
    border-radius: 10px;
  }
}